<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Habitat </a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/create/<%=user_id%>">Create Habit</a></li>
        <li><a href="/missed/<%=user_id%>">Missed Habits</a></li>
        <li><a href="/social/<%=user_id%>%>">See Others</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
