<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/header',{})%>
    <title>New Habit</title>
  </head>
  <body>
    <%- include('partials/nav',{user_id:user_id})-%>
    <form
      class="form-horizontal form-group"
      action="/create/<%=user_id%>"
      method="POST"
    >
      <p>pick your avatar</p>
      <input type="radio" name="avatar" value="1" />
      <label><img src="avatar/1/neutral" /></label><br />
      <label>Enter Your Habit</label>
      <input type="text" name="habit" /><br />
      <label>Enter Due Date of your Habit</label>
      <input type="text" name="endDate" /><br />
      <label>Enter Formation Days of your Habit</label>
      <input type="number" name="formationDays" /><br />
      <label>Enter your action plan</label>
      <input type="text" name="action" /><br />
      <label>Frequency</label>
      <input type="checkbox" name="frequency" value="1" />
      <input type="checkbox" name="frequency" value="2" />
      <input type="checkbox" name="frequency" value="3" />
      <input type="checkbox" name="frequency" value="4" />
      <input type="checkbox" name="frequency" value="5" />
      <input type="checkbox" name="frequency" value="6" />
      <input type="checkbox" name="frequency" value="7" /><br />
      <label>Enter your Reminder Time</label>
      <input type="text" name="reminder" /><br />
      <button class="btn btn-default" formaction="/" formmethod="GET">
        Cancel
      </button>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>
  </body>
</html>
