<!DOCTYPE html>
<html lang="en">
  <%-include('partials/header',{})%>
  <head>
    <title>Habit Check In</title>
  </head>
  <body>
    <%- include('partials/nav',{user_id:habit.user_id})-%>
    <h1><%=habit.habit%></h1>
    <form
      class="form-horizontal form-group update-form col-sm-10"
      action="/update/<%=habit.id%>"
      method="POST"
    >
      <textarea
        class="form-control"
        rows="3"
        placeholder="Enter your progress"
        name="checkInText"
      ></textarea>
      <button class="btn btn-default" type="submit">Log Habit</button>
      <button class="btn btn-default" formaction="/" formmethod="GET">
        Cancel
      </button>
    </form>
  </body>
</html>
